@font-face {
	font-family: 'Gerbera';
	src: url('../fonts/gerbera.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gerbera.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gerbera.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gerbera.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gerbera.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gerbera.svg#gerbera') format('svg'); /* Chrome < 4, Legacy iOS */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gerbera', sans-serif;
    min-height: 100vh; /* Установите минимальную высоту на 100vh */
    background-color: #165849; /* Цвет фона */
}

body::before {
    content: ''; /* Создаем пустой контент */
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Заполняем весь экран */
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/content/pattern.png'); /* Путь к вашему изображению */
    background-repeat: repeat; /* Повторяем изображение */
    background-size: auto; /* Автоматический размер */
    opacity: 0.5; /* Прозрачность изображения (0.0 - 1.0) */
    z-index: -1; /* Помещаем на задний план */
}

/* Остальные стили остаются неизменными */
header {
    background-color: #238370; /* Выделяющийся цвет */
    color: white;
    padding: 15px 20px;
    position: fixed; /* Полоска фиксирована сверху */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Поверх других элементов */
    height: 70px; /* Установите необходимую высоту для полоски */
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    justify-content: space-between; /* Раздвигаем элементы по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
    font-size: 1.2em;
}

header a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.logo {
    width: 200px;
    float: left;
    height: auto; /* Устанавливаем высоту логотипа (можно настроить по своему усмотрению) */
    margin-right: 20px; /* Добавляем отступ между логотипом и заголовком */

}

nav .logoutButton {
    background-color: #2EB398; /* Зеленый фон */
    color: white; /* Белый текст */
    font-family: 'Gerbera', sans-serif;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}
nav .logoutButton:hover {
    background-color: #800036; /* Темно-зеленый при наведении */
}
main {
    padding: 2rem;
    padding-top: 127px; /* Отступ сверху для основного содержимого, чтобы не перекрывалось полоской */
    text-align: center;
}

/* Стили для контейнера профиля */
.profileContainer {
    background-color: rgb(241, 241, 241);
    border: 2px solid #238370; /* Цвет рамки */
    padding: 20px; /* Внутренние отступы */
    border-radius: 30px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для глубины */
    max-width: 750px; /* Максимальная ширина */
    margin: 20px auto; /* Центрируем */
    opacity:1;
    font-family: 'Gerbera', sans-serif; /* Простой и читаемый шрифт */
    color: #333; /* Цвет текста */
}

/* Стили для карточки профиля */
.profileCard p {
    margin: 10px 0;
    text-align: left;
}

/* Стили для кнопок редактирования */
.editButton {
    background-color: #2EB398; /* Зеленый фон */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    font-family: 'Gerbera', sans-serif; /* Простой и читаемый шрифт */
    color: rgb(241, 241, 241);
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.editButton:hover {
    background-color: #800036; /* Темно-зеленый при наведении */
}
/* Стили для модальных окон */
.modal {
    text-align: left; /* Выравниваем текст внутри модального окна по левому краю */
    display: none; /* Скрываем по умолчанию */
    position: absolute; /* Абсолютное позиционирование */
    border: 2px solid #238370; /* Цвет рамки */
    background-color: #2EB398; /* Зеленый фон */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    border: 1px solid #ccc;
    padding: 20px;
    color:white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Обеспечиваем, что окно будет сверху */
    border-radius: 30px;
    
}
.modal label {
    display: block; /* Отображаем метки как блочные элементы для лучшего выравнивания */
    margin-top: 10px; /* Отступ сверху для отделения от предыдущего элемента */
}

.modal input {
    width: 100%; /* Растягиваем поля ввода на всю ширину контейнера */
    padding: 10px; /* Отступы внутри полей ввода */
    margin-top: 5px; /* Отступ сверху для отделения от меток */
    box-sizing: border-box; /* Учитываем отступы в ширине */
    border-radius: 30px;
    font-family: 'Gerbera', sans-serif; /* Простой и читаемый шрифт */

}

.modal button {
    margin-top: 10px; /* Отступ сверху для отделения кнопок */
    margin-right: 10px; /* Отступ справа между кнопками */
}
/* Стили для кнопок в модальных окнах */
.saveButton {
    background: #165849; /* Начальный цвет кнопки "Сохранить" */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Gerbera', sans-serif; /* Простой и читаемый шрифт */
}

/* Стили для кнопки "Отмена" */
.cancelButton {
    background: rgb(189,83, 109); /* Цвет при наведении */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 10px; /* Отступ между кнопками */
    font-family: 'Gerbera', sans-serif; /* Простой и читаемый шрифт */
}

.cancelButton:hover {
    
    background: rgb(128, 0, 59);
}
footer {
    position: fixed; /* Фиксируем элемент внизу страницы */
    left: 0; /* Прикрепляем к левому краю */
    bottom: 0px; /* Установите отступ от нижней части */
    text-align: left; /* Выравнивание текста по левому краю */
    color: white; /* Цвет текста */
    padding: 0px 0px; /* Отступы сверху и снизу, а также слева и справа */
    font-size: 1.2rem; /* Размер шрифта */
}