/* Общие стили */
html, body {
    height: 100%;
}

@font-face { 
    font-family: "CirceRegular";
    src: url("../fonts/CirceRegular/CirceRegular.eot");
    src: url("../fonts/CirceRegular/CirceRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CirceRegular/CirceRegular.woff") format("woff"),
    url("../fonts/CirceRegular/CirceRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'CirceRegular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #800036;
    color: #333;
    text-align: center;
}

header {
    background-color: #800036;
    padding: 1rem 2rem;
    display: block;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
    text-align: center;
}

header a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:first-child {
    margin-left: 0;
}

header a:hover {
    text-decoration: underline;
}

main {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 2rem;
    background-color: #800036;
    animation: fadeIn 1s ease forwards;
}

main .left {
    max-width: 50%;
}

main .right {
    max-width: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2rem;
    color: #256634;
    font-weight: 900;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    color: #256634;
    font-weight: 700;
    animation: fadeIn 1s ease forwards;
}

p {
    padding: 10px 20px;
    margin: 0 auto 20px;
    max-width: 800px;
    font-size: 1.1em;
    color: whitesmoke;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}    


h2:hover, p:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}

button {
    padding: 0.8rem 2rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button.register {
    background-color: #871e28;
    color: white;
    font-weight: bold;
}

button.register:hover {
    background-color: #721820;
}

button.login {
    background-color: white;
    color: #871e28;
    border: 2px solid #871e28;
}

button.login:hover {
    background-color: #f8f8f8;
}

/* Логотип */
main .right img {
    max-width: 80%;
    height: auto;
}

.logo {
    width: 40px;
    height: 40px;
    float: left; 
}

.storiesContainer {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 1em; 
    margin-top: auto;
    align-items: center;
}

.storyCard {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 1rem; 
    padding: 1rem; 
    width: calc(500px - 2rem); 
    transition: transform 0.2s; 
}

.storyCard:hover {
    transform: scale(1.05); 
}

.storyCard h3 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 2em;
    color: #256634;
    font-weight: 700;
    animation: fadeIn 1s ease forwards;
}

.storyCard p {
    padding: 10px 20px;
    margin: 0 auto 20px;
    max-width: 800px;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #555;
}

.storyCard buttonContainer {
    display: flex; 
    align-items: right; 
}

.storyCard buttonContainer span,
.storyCard buttonContainer img {
    margin-right: 10px; 
}

.searchInputName, .searchInputTitle {
    width: 300px; 
    padding: 10px; 
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px; 
}

.searchButton {
    padding: 10px 20px; 
    background-color: #256634; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.searchButton:hover {
    background-color: #871e28; 
}

.descriptionContainer {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.descriptionContainer span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #256634;
}

.descriptionContainer p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}