@font-face {
	font-family: 'Gerbera';
	src: url('../fonts/gerbera.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gerbera.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gerbera.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gerbera.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gerbera.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gerbera.svg#gerbera') format('svg'); /* Chrome < 4, Legacy iOS */
}